<div>
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <fieldset ngModelGroup="login">
      <mdl-textfield
        name="username"
        type="text"
        label="Username..."
        [(ngModel)]="username"
        #usernameRef="ngModel"
        required
        floating-label
      >
      </mdl-textfield>
        <div *ngIf="auth?.hasError">{{auth.errMsg}}</div>
      <mdl-textfield
        name="password"
        label="Password..."
        type="password"
        [(ngModel)]="password"
        #passwordRef="ngModel"
        floating-label
        required
      >
      </mdl-textfield>
    </fieldset>
    <button 
      mdl-button mdl-button-type="raised"
      mdl-colored="parimary"
      mdl-ripple
      type="submit"
    >Login
    </button>
  </form>
</div>
