<div>
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <fieldset ngModelGroup="login">
      <!-- required表示必填 -->
      <!-- ref 代表引用 -->
      <!-- #usernameRef="ngModel"表示引用要在模板中使用 -->
      <!-- usernameRef.valid回傳限制狀態 -->
    <!-- 在from內要有顯示指定對應控件的name   -->
    <input [(ngModel)]="username" type="text"
      required #usernameRef="ngModel"
      minlength="3" 
      name="username"
      placeholder="輸入帳號"
    />{{usernameRef.errors | json}}
    <!-- |是管道操作符，用於將前面的結果通過管道輸出成另一種格式 -->
      <div *ngIf="usernameRef.errors?.required">this is required</div>
      <div *ngIf="usernameRef.errors?.minlength">should be at least 3 charctors</div>
      <div *ngIf="auth?.hasError">{{auth.errMsg}}</div>
    <input [(ngModel)]="password" type="password"
      required #passwordRef="ngModel" 
      name="password"
    />{{passwordRef.errors | json}}
      <div *ngIf="passwordRef.errors?.required">this is required</div>

    <button type="login">Submit</button>
    </fieldset>
  </form>
</div>
