<div class="container">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <nav>
      <a routerLink="/home" routerLinkActive="active">首頁</a>
      <a routerLink="/user" routerLinkActive="active">註冊</a>
      <a routerLink="/login" routerLinkActive="active">登入</a>
      <a routerLink="/logins" routerLinkActive="active">登入2</a>
      <a routerLink="/manage" routerLinkActive="active">管理</a>
      <a routerLink="/todo" routerLinkActive="active">Todo</a>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
