<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
    <mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-title>Awesome Todos</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link">Logout</a>
        </nav>
      </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
      <mdl-layout-title>Title</mdl-layout-title>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link">Link</a>
      </nav>
    </mdl-layout-drawer>
    <mdl-layout-content class="content">
      <router-outlet></router-outlet>
    </mdl-layout-content>
  </mdl-layout>
 <!-- <div class="container"> -->
  <!--The content below is only a placeholder and can be replaced.-->
  <!-- <div style="text-align:center"> 
    <nav>
      <a routerLink="/home" routerLinkActive="active">首頁</a>
      <a routerLink="/user" routerLinkActive="active">註冊</a>
      <a routerLink="/login" routerLinkActive="active">登入</a>
      <a routerLink="/logins" routerLinkActive="active">登入2</a>
      <a routerLink="/manage" routerLinkActive="active">管理</a>
      <a routerLink="/todo" routerLinkActive="active">Todo</a>
    </nav>
  </div>
</div> -->

