<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <!-- <app-hero-form></app-hero-form> -->
    <app-hero-form-reactive></app-hero-form-reactive>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button>Hello world</button>
  <button mat-button>Hello world!</button>
  <button mat-raised-button color="primary">Hello world!</button>
  <mat-icon>person</mat-icon>
  <div>
    這是一般的ICON顏色
    <mat-icon>person</mat-icon>
  </div>
  
  <div>
    這是加上primary顏色的ICON
    <mat-icon color="primary">thumb_up</mat-icon>
  </div>
  
  <div>
    這是加上accent顏色的ICON
    <mat-icon color="accent">info</mat-icon>
  </div>
  
  <div>
    這是加上warn顏色的ICON
    <mat-icon color="warn">warning</mat-icon>
  </div>
</div>

<router-outlet></router-outlet>
